/deep/.ivu-form-item > .ivu-form-item-label{
    text-align: left;
}
span{
    // width: 120px;
    min-width: 70px;
    line-height: 30px;
}
.search-condition{
    display: flex;
}
.dividing-line{
    width: 100%;
    height: 2px;
    background-color: $light-color;
    margin: 30px 0;
}
.line-margin {
    margin-left: 30px;
}
.icon-action{
    margin: 0 10px;
}
