.image-uploader {
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 5px;

    .image-holder {
        background-color: #fff;
        border: 1px dashed #aaa;
        border-radius: 5px;
        margin-bottom: 5px;
        background: url(../../../assets/images/imgUpload_bg.png) no-repeat center;
    }

    .img {
        width: 100%;
        height: 100%;
        margin: 0
    }
    .isNotChange {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.6)
    }
}
.sizeP{
    font-size: 12px;
    color: #999;
    position: absolute;
    top: calc(50% - 11px);
    left: 50%;
    transform: translate(-50%, -50%)
}
.addFile{
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
}