//进度的tabs
.piblic-rate-tabs-box {
    background: #fff;
    /deep/.ivu-tabs-bar {
        border-bottom: none;
    }
    /deep/.ivu-tabs-nav-container {
        height: 42px;
    }
    /deep/.ivu-tabs-tab {
        margin: 0;
        margin-right: 0;
        height: 42px;
        line-height: 42px;
        padding: 0;
        border: none;
        border-bottom: 0;
        border-radius: 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        background: #fff;
        width: 256px;
        text-indent: 76px;
        &:nth-child(2) {
            background-image: url('./first.png');
            background-repeat: no-repeat;
        }
        &:last-child {
            background-image: url('./last.png');
            background-repeat: no-repeat;
            text-indent: 86px;
        }
    }
    /deep/.ivu-tabs-tab-active {
        &:nth-child(2) {
            background-image: url('./a-first.png');
            background-repeat: no-repeat;
        }
        &:last-child {
            background-image: url('./a-last.png');
            background-repeat: no-repeat;
        }
    }
    /deep/.ivu-tabs .ivu-tabs-content-animated{
        border-top: 1px solid #e6e6e6;
    }
}
.public-form-box {
    width: 100%;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 4px 0px rgba(51, 51, 51, 0.1);
    padding: 20px;
}
